@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F8F6F4;
}

*{
  font-family: var(--font-fair);
}


p{
  font-family: var(--font-mulish);
}

.fair{
  font-family: var(--font-fair);
}

